<?xml version="1.0"?>
<config>
    <modules>
        <Mkt_LiveOptim>
            <version>1.3.0</version>
        </Mkt_LiveOptim>
    </modules>
    <frontend>
        <routers>
            <liveoptim>
                <use>standard</use>
                <args>
                    <module>Mkt_LiveOptim</module>
                    <frontName>liveoptim</frontName>
                </args>
            </liveoptim>
        </routers>
        <layout>
            <updates>
                <liveoptim>
                    <file>liveoptim.xml</file>
                </liveoptim>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<liveoptim>
				<use>admin</use>
				<args>
					<module>Mkt_LiveOptim</module>
					<frontName>liveoptim</frontName>
				</args>
			</liveoptim>
        </routers>
    </admin>
    <adminhtml>
		<translate>
			<modules>
				<Mkt_LiveOptim>
					<files>
					  <default>Mkt_LiveOptim.csv</default>
					</files>
				</Mkt_LiveOptim>
			</modules>
		</translate>
		<menu>
			<liveoptim module="liveoptim">
				<title>LiveOptim</title>
				<sort_order>100</sort_order>               
				<children>
					<items module="liveoptim">
						<title>LiveOptim</title>
						<sort_order>0</sort_order>
						<action>liveoptim/adminhtml_liveoptim</action>
					</items>
					
					<tutoriel translate="title" module="liveoptim">
						<title>menu_tutoriel</title>
						<action>liveoptim/adminhtml_liveoptim/tutoriel</action>
					</tutoriel>
					<motcle translate="title" module="liveoptim">
						<title>menu_motcle</title>
						<action>liveoptim/adminhtml_liveoptim/motcle</action>
					</motcle>
					<pattern translate="title" module="liveoptim">
						<title>menu_pattern</title>
						<action>liveoptim/adminhtml_liveoptim/pattern</action>
					</pattern>
					<patterncible translate="title" module="liveoptim">
						<title>menu_patterncible</title>
						<action>liveoptim/adminhtml_liveoptim/cible</action>
					</patterncible>
					<baliseignore translate="title" module="liveoptim">
						<title>menu_baliseignorer</title>
						<action>liveoptim/adminhtml_liveoptim/baliseignore</action>
					</baliseignore>
					<pagerestrinte translate="title" module="liveoptim">
						<title>menu_pages_restreintes</title>
						<action>liveoptim/adminhtml_liveoptim/pagesrestreintes</action>
					</pagerestrinte>
					<config translate="title" module="liveoptim">
						<title>menu_config</title>
						<action>liveoptim/adminhtml_liveoptim/config</action>
					</config>
				</children>
			</liveoptim>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Mkt_LiveOptim>
							<title>LiveOptim Module</title>
							<sort_order>10</sort_order>
						</Mkt_LiveOptim>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<liveoptim>
					<file>liveoptim.xml</file>
				</liveoptim>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <liveoptim>
                <class>Mkt_LiveOptim_Model</class>
                <resourceModel>liveoptim_mysql4</resourceModel>
            </liveoptim>
            <liveoptim_mysql4>
                <class>Mkt_LiveOptim_Model_Mysql4</class>
                <entities>
                    <liveoptim>
                        <table>liveoptim</table>
                    </liveoptim>
					<motcle>
						<table>liveoptim_mot_cle</table>
					</motcle>
					<pattern>
						<table>liveoptim_pattern</table>
					</pattern>
					<patterncible>
						<table>liveoptim_pattern_cible</table>
					</patterncible>
					<parametres>
						<table>liveoptim_parametres</table>
					</parametres>
					<baliseignore>
						<table>liveoptim_balise_ignore</table>
					</baliseignore>
					<capping>
						<table>liveoptim_capping</table>
					</capping>
					<pagesrestriction>
						<table>liveoptim_page_restriction</table>
					</pagesrestriction>
				</entities>
            </liveoptim_mysql4>
        </models>
        <resources>
            <liveoptim_setup>
                <setup>
                    <module>Mkt_LiveOptim</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </liveoptim_setup>
            <liveoptim_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </liveoptim_write>
            <liveoptim_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </liveoptim_read>
        </resources>
        <blocks>
            <liveoptim>
                <class>Mkt_LiveOptim_Block</class>
            </liveoptim>
        </blocks>
		 <helpers>
            <liveoptim>
                <class>Mkt_LiveOptim_Helper</class>
            </liveoptim>
        </helpers>
        <events>
			<core_block_abstract_to_html_after>
				<observers>
					<liveoptim_core_block_abstract_to_html_after>
						<class>liveoptim/observer</class>
						<method>setOptimisationSEO</method>
					</liveoptim_core_block_abstract_to_html_after>
				</observers>
			</core_block_abstract_to_html_after>
		</events>
    </global>
</config>
